{% extends "base.html" %}

{% block content %}

<div style="background-color: #eeeeee" class="pt-3">
    <div class="align-items-center">
        <div class="container text-center py-4">
            <h3 style="font-weight: 600; font-size: 18px">
                About Remote-WE
            </h3>
        </div>
    </div>
</div>

<!-- Main Navigation -->

<!-- Main layout -->
<main style="
        background: -webkit-linear-gradient(left, #38be98, #A7C4BC);
        color: #fff;
    ">
    <div class="container mt-4 pb-5">
        <h3 class="text-center py-3 mb-3">
            The superior quality of Green Grocery with superior ambience
        </h3>

        <!-- Grid row -->
        <div class="row">
            <!-- Grid column -->
            <div class="col-lg-5">
                <img class="img-fluid rounded z-depth-2"
                    src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/new/img(21).jpg" alt="sample" />
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-lg-7 pt-lg-3">
                <p style="font-weight: 500; font-size: 18px" class="mt-4 mt-lg-0">
                    Farmers now-a-days are not getting a proper price for their crops and labour due to the gap between
                    them and the seller.
                    They are selling it to the retailers at a very low rate due to which they are not even getting a
                    profit which are
                    leading to more unpaid loans from the bank which ultimately leads to poverty and suicides by the
                    farmers and their
                    family.
                </p>
                <p style="font-weight: 500; font-size: 18px">
                    Due to this increasing number of suicides by farmers due to the middleman between them and the
                    consumer we have thought
                    of an idea to connect the farmer directly with the customers. We have made an application through
                    which the farmers will
                    get maximum profit and can sell their vegetables online. It is a fully functional website where the
                    users can register themselves and they can also select a prime membership for
                    faster delivery and other cashback offers.
                    It is a socio startup to bridge the gap between farmers and the buyers by connecting them directly without any
                    middleman.
                </p>
            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->
    </div>
</main>
<!-- Main layout -->

<!-- Start Contact info -->
<section>
    <div class="contact-imfo-box">
        <div class="container">
            <div class="row">
                <div class="col-md-4 py-2 py-lg-0">
                    <i class="fa fa-volume-control-phone"></i>
                    <div class="overflow-hidden">
                        <h4 style="color: #1d1f21; font-weight: 700">Phone</h4>
                        <p style="color: #1d1f21; font-weight: 500" class="lead">
                            +91 123-456-4590
                        </p>
                    </div>
                </div>
                <div class="col-md-4 py-4 py-lg-0">
                    <i class="fa fa-envelope"></i>
                    <div class="overflow-hidden">
                        <h4 style="color: #1d1f21; font-weight: 700">Email</h4>
                        <p style="color: #1d1f21; font-weight: 500" class="lead">
                            remote-WE@gmail.com
                        </p>
                    </div>
                </div>
                <div class="col-md-4 py-2 py-lg-0">
                    <i class="fa fa-map-marker"></i>
                    <div class="overflow-hidden">
                        <h4 style="color: #1d1f21; font-weight: 700">
                            Location
                        </h4>
                        <p style="color: #1d1f21; font-weight: 500" class="lead">
                            xyz, XYZ, India
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Contact info -->

{% endblock %}